* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  padding-bottom: 0px;
}
.w-90 {
  width: 95% !important;
}
.pointer {
  cursor: pointer;
}
.navbar {
  height: 70px;
}

input[type="search"] {
  border: none;
  width: 0px;
  padding: 5px;
  outline: none;
  transition: width 0.4s ease-in-out;
  background-color: transparent;
}

.focus {
  display: block;
  width: 200px !important;
  border-bottom: 1px solid black !important;
}
li:has(> label:first-child) {
  position: relative;
}
label[for="search"] i {
  position: absolute;
  left: 0;
  top: 30%;

  cursor: pointer;
}

.nav-item .btn-outline-success {
  width: 120px !important;
  height: 40px !important;
}
.nav-item a:hover,
.nav-item .fa-magnifying-glass:hover {
  color: #198754 !important;
}

#allProductsContainer .card {
  border: none !important;
  overflow: hidden;
  cursor: pointer;

  transition: all 0.5s;
}
  #allProductsContainer .card img {
  transition: all 0.5s;
}
#allProductsContainer .card:hover{
  transform: translateY(-15px);
  box-shadow: #198754c0 0px 0px 10px;
}
#allProductsContainer .card:hover img{
  transform: scale(1.1);
  

}


/* IMP heart animation */


/* Parts are from twitter.com */

.HeartAnimation {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png');
  background-repeat: no-repeat;
  background-size: 2900%;
  background-position: left;
  height: 35px;
  width: 100px;
  cursor: pointer;
}

.animate {
  animation: heart-burst .8s steps(28) forwards;
}

/* Apply filter for color change */
.animate {
    filter: hue-rotate(170deg); /* Adjust this value for different shades of green */
}

@keyframes heart-burst {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}


/* [x] slider */

.slider {
  height: 95vh !important;
  overflow: hidden;
  
}
.carousel {
  position: relative;
  width: 100%; /* Set your desired width */
  height: 600px; /* Set your desired height */
  overflow: hidden;
}
.carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;;
  background-position: center;
  transition: opacity 0.5s ease-in-out;
  opacity: 0; /* Start with all slides hidden */
}
.carousel-item.active {
  opacity: 1; /* Show active slide */
}

.controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 5;
}
.controls .btn:hover {
  background-color: #198754 !important;
  color: white !important;
}

.card {
  border: none !important;
  cursor: pointer;
}

/* [x] trending */

#trendyProducts {
  margin-top: 3rem;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1rem !important;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(255, 255, 255, ) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.swiper-button-next {
  right: -2px !important;
}
.swiper-button-prev {
  left: 15 !important;
}


.btn-grad {background-image: linear-gradient(to right, #348F50 0%, #56B4D3  51%, #348F50  100%)}
.btn-grad {
   
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;

}

#trendGroup .card:hover .btn-grad {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }





/*  */






#numberOfCartItems{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15px;
  min-height: 15px;
  font-size: 12px;
}



/* footer */
footer{
    height: 150px;
    margin-top: 56px;
    margin-bottom: -8px;
}
footer p {
            font-family: "Leckerli One", serif;
            font-weight: 400;
            
}
.copyright{
  background-image: linear-gradient(45deg, #348F50, #56B4D3,#348F50); /* Define your gradient colors */
    background-clip: text; /* Clip the background to the text */
    -webkit-background-clip: text; /* For Safari support */
    color: transparent; /* Make the text color transparent */
}
/* IMP Spinner style */

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #198754;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #FF3D00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 





@media only screen and (max-width: 576px) {
  #numberOfCartItems{
    left:15px !important;
    top: -4px !important;
  }
}